.filtersContainer {
  width: clamp(8vw, 10vw, 15vw);
  height: clamp(50vh, 68vh, 75vh);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
