.mainContainer {
  width: clamp(70vw, 90vw, 100vw);
  height: clamp(60vh, 72vh, 85vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  width: clamp(60vw, 80vw, 90vw);
  height: clamp(60vh, 72vh, 85vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
