.mainContainer {
  margin-top: clamp(2vh, 3vh, 5vh);
  height: clamp(4vh, 6vh, 8vh);
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(80vw, 90vw, 100vw);
  background-color: var(--containerColor);
  border-radius: 0.75em;
}

.copyright {
  width: clamp(40vw, 60vw, 80vw);
  font-family: jotiOne;
  color: var(--buttonBgColor);
  padding-left: 2vw;
}
.linkContainer {
  width: clamp(20vw, 30vw, 40vw);
  display: flex;
  justify-content: space-around;
}

.links {
  text-decoration: none;
  font-family: jotiOne;
  color: var(--buttonBgColor);
  font-size: small;
}

.links:hover {
  color: black;
  font-style: italic;
}
