:root {
  --background: #ffffff;
  --foreground: #171717;
  margin: 0;
  padding: 0;
  --containerColor: rgba(237, 240, 236, .80);
  --buttonBgColor: #26567C;
  --textFont: jersey25;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}